body {
  background-color: #D8EEEE;
}

h1 {
  font-family: Arial
}
li {
  font-family: Arial

}
.table {
  display: table;
  margin: auto;
}
tr {
  border:1px solid red;
}
td {
  border: 1px dashed blue;
}
